.body {
  background-color: #f8f8ff;
}

.btn {
  font-size: 12px;
  padding: 9px 24px;
  border: 0px;
  color: #003777;
  margin: 6px;
  margin-top: 12px;
  margin-bottom: -2px;
  border-radius: 0px;
  white-space: normal!important;
}

.btn-default {
  background: #f8f8ff;
}

.btn-header {
  background-color: #f8f8ff;
  width: 150px;
}

.container-fluid {
  margin-top: 240px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h4 {
  color: black;
  font-size: 40px;
}

.jumbotron {
  background-color: #003777;
  color: white;
  text-align: center; 
  margin-bottom: 0px;
  padding: 10px;
}

.list-group {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  box-shadow: -6px 7px 15px 3px gray;
}

.list-group-item {
  display: block;
  padding: 12px 20px;
  margin-bottom: -1px;
  background-color: #003777;
  border: 1px solid white;
}

.list-group-item-heading {
  color: white;
  padding: 2px 15px;
  text-align: center;
}

.list-group-item-text {
  color: white;
  padding: 6px 9px;
  text-align: center;
}

a.list-group-item .list-group-item-heading {
  color: white;
}

a.list-group-item:hover {
  background-color: black;
}

.navbar {
  background-color: #003777;
}