<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Angular Practice</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Smooth crolling CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
    <script type="text/javascript"></script>
</head>

<body ng-app="angularApp">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="jumbotron">
            <h1 class="h1-responsive">NuvIoT Angular Testing</h1>
            <hr class="my-2">
            <p>Select from the domains, for specific Models/Entities</p>
        </div>  
    </nav>    
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="DomainController">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="property in info">
                    <h4 class="list-group-item-heading"> {{ property.name }} </h4>
                    <hr class="my-2">
                    <p class="list-group-item-text"> {{ property.description }} </p>
                    <a class="btn btn-domain" ng-click="passKey( property.key )"> Models </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="ModelListController" ng-init="init()">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="property in model">
                    <h4 class="list-group-item-heading"> {{ property.name }} </h4>
                    <hr class="my-2">
                    <a class="btn btn-model" ng-click="passName( property.domainKey , property.className )"> Details </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="ModelDetailController" ng-init="init()">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading"> {{ details.domain.name }} </h4>
                    </br>
                    <p class="list-group-item-text"> {{ details.domain.description }} </p>                    
                   <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <p class="attribute"></p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading"> {{ details.title }} </h4>
                    <hr class="my-2">
                    <p class="list-group-item-text"> {{ details.description }} </p>  
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="property in details.elements">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="list-group-item-heading"> {{ property.label }} </h4>
                            </br>
                            <p class="list-group-item-text"> {{ property.help }} </p>
                            </br>
                            <table class="table">
                                <thead>
                                    <th>Attribute</th>
                                    <th>Attribute Detail</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Watermark</td>
                                        <td> {{ property.watermark }} </td>
                                    </tr>
                                    <tr>
                                        <td>Is Required</td>
                                        <td> {{ property.isRequired }} </td>
                                    </tr>
                                    <tr>
                                        <td>Required Message</td>
                                        <td> {{ property.requiredMessage }} </td>
                                    </tr>
                                    <tr>
                                        <td>Field Type</td>
                                        <td> {{ property.fieldType }} </td>
                                    </tr>
                                    <tr>
                                        <td>Reg Ex</td>
                                        <td> {{property.regEx }} </td>
                                    </tr>
                                    <tr>
                                        <td>Reg Ex Message</td>
                                        <td> {{ property.regExMessage }} </td>
                                    </tr>
                                    <tr>
                                        <td>Value</td>
                                        <td> {{ property.value }}</td>
                                    </tr>
                                    <tr>
                                        <td>Is User Editable</td>
                                        <td> {{ property.isUserEditable }} </td>
                                    </tr>
                                    <tr> 
                                        <td>Data Type</td>
                                        <td> {{ property.dataType }} </td>
                                    </tr>
                                    <tr>
                                        <td>Min Length</td>
                                        <td> {{ property.minLength}} </td>
                                    </tr>
                                    <tr>
                                        <td>Max Length</td>
                                        <td> {{ property.maxLength}} </td>
                                    </tr>
                                    <tr>
                                        <td>Help</td>
                                        <td> {{ property.help }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div class="row">
                                <div class="col-md-4 col-md-offset-1">
                                    <p class="attribute" ng-hide="!property.watermark"> Watermark: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.isRequired"> Is Required: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.requiredMessage"> Required Message: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.fieldType"> Field Type: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.regEx"> Reg Ex: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.regExMessage"> Reg Ex Message: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.value"> Value: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.isUserEditable"> Is User Editable: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.dataType"> Data Type: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.minLength"> Min Length: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.maxLength"> Max Length: </p>
                                    <hr class="my-2">
                                    <p class="attribute" ng-hide="!property.help"> Help: </p>
                                </div>
                                <div class="col-md-7">
                                    <p class="attribute" ng-hide="!property.watermark"> {{ property.watermark }} </p>
                                    <p class="attribute" ng-hide="!property.isRequired"> {{ property.isRequired }} </p>
                                    <p class="attribute" ng-hide="!property.requiredMessage"> {{ property.requiredMessage }} </p>
                                    <p class="attribute" ng-hide="!property.fieldType"> {{ property.fieldType }} </p>
                                    <p class="attribute" ng-hide="!property.regEx"> {{ property.regEx }} </p>
                                    <p class="attribute" ng-hide="!property.regExMessage"> {{ property.regExMessage }} </p>
                                    <p class="attribute" ng-hide="!property.value"> {{ property.value }} </p>
                                    <p class="attribute" ng-hide="!property.isUserEditable"> {{ property.isUserEditable }} </p>
                                    <p class="attribute" ng-hide="!property.dataType"> {{ property.dataType }} </p>
                                    <p class="attribute" ng-hide="!property.minLength"> {{ property.minLength }} </p>
                                    <p class="attribute" ng-hide="!property.maxLength"> {{ property.maxLength }} </p>
                                    <p class="attribute" ng-hide="!property.help"> {{ property.help }} </p>
                                </div>
                            </div>-->           
                        </div>  
                    </div>    
                </div>
            </div>
        </div>
    </div>
</body>


<!-- angularjs -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>

<!-- services -->
<script src="js/services/mySharedService.js"></script>

<!-- Controller -->
<script src="js/controllers/DomainController.js"></script>
<script src="js/controllers/ModelListController.js"></script>
<script src="js/controllers/ModelDetailController.js"></script>

<!-- Directive -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

