<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Angular Practice</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Smooth crolling CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
    <script type="text/javascript"></script>

</head>

<body ng-app="angularApp">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="jumbotron">
            <h1 class="h1-responsive">NuvIoT Angular Testing</h1>
            <hr class="my-2">
            <p>Select from the domains, for specific Models/Entities</p>
        </div>  
    </nav>    
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="DomainController">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="property in info">
                    <h4 class="list-group-item-heading"> {{ property.name }} </h4>
                    <hr class="my-2">
                    <p class="list-group-item-text"> {{ property.description }} </p>
                    <a class="btn btn-domain" ng-click="passKey( property.key )"> Models </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="ModelListController" ng-init="init()">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="property in model">
                        <h4 class="list-group-item-heading"> {{ property.name }} </h4>
                        <hr class="my-2">
                        <a class="btn btn-model" ng-click="passName( property.domainKey , property.className )"> Details </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" ng-controller="ModelDetailController" ng-init="init()">
                <!--<a class="list-group-item" ng-repeat="property in details.elements">
                    <div>
                        <h4 class="list-group-item-heading"> {{ property.label }} </h4>
                        <hr class="my-2">
                        <h6 class="list-group-item-text"> {{ property.help }} </h6>
                    </div>
                </a>-->
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Device Administration</h4>
                    </br>
                    <p class="list-group-item-text">A set of classes that contains meta data for managing IoT devices</p>                    
                    <hr class="my-2">
                    <h4 class="list-group-item-heading">Action</h4>
                    </br>
                    <p class="list-group-item-text">Actions can perform functionality on a Device to manipulate it's real world or attribute states</p>            
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading"> Shared Action </h4>
                    </br>
                    <p class="list-group-item-text"> A Shared Action is one that is predefined and can be attached to a device configuration.  A Shared Action can be used so that implements a specific Shared Action can participate in a Device Group. </p>
                    <hr class="my-2">
                    <p class="list-group-item-text">Watermark: null</p>
                    <p class="list-group-item-text">Is Required: true</p>
                    <p class="list-group-item-text">Required Message: Shared Action is a required field</p>
                    <p class="list-group-item-text">Field Type: ChildItem</p>
                    <p class="list-group-item-text">Reg Ex: null</p>
                    <p class="list-group-item-text">Reg Ex Message: null</p>
                    <p class="list-group-item-text">Value: null</p>
                    <p class="list-group-item-text">Is User Editable: fasle</p>
                    <p class="list-group-item-text">Data Type: null</p>
                    <p class="list-group-item-text">Min Length: null</p>
                    <p class="list-group-item-text">Max Length: null</p>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- angularjs -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>

<!-- services -->
<script src="js/services/mySharedService.js"></script>

<!-- Controller -->
<script src="js/controllers/DomainController.js"></script>
<script src="js/controllers/ModelListController.js"></script>
<script src="js/controllers/ModelDetailController.js"></script>

<!-- Directive -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

