<div ng-controller="DomainController">
    <div class="card" ng-repeat="Info in info">
        <div class="card-header">
            <h4 class="card-title"> {{ Info.name }} </h4>
            <hr class="my-2">
            <h6 class="card-subtitle"> {{ Info.description }} </h6>
            <a class="btn btn-default" ng-click="showDetails = ! showDetails">More Info</a>
            <a class="btn btn-default" href="/#/Models/{{ Info.key }}" >Show More</a>
        </div>
        <div ng-show="showDetails">
            <div class="card-block"></div>
                <p><u>Version History</u>: {{ Info.versionHistory }} </p>
                <p><u>Domain Type</u>: {{ Info.domainType }} </p>
                <u>Current Version</u>
                </br>
                <li><u>Major</u>: {{ Info.currentVersion.major }} </li>
                <li><u>Minor</u>: {{ Info.currentVersion.minor }} </li>
                <li><u>Revision</u>: {{ Info.currentVersion.revision }} </li>
                <li><u>Build</u>: {{ Info.currentVersion.build }} </li>
                <li><u>Date Stamp</u>: {{ Info.currentVersion.dateStamp }} </li>
                <li><u>Release Notes</u>: {{ Info.currentVersion.releaseNotes }} </li>
            </div>
        </div>
    </div>
</div>