<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-6">
    <table class="table table-striped" id="table-translation">
        <thead>
            <th class="english-file">
                <div class="dropdown">
                    <div class="btn-group">
                        <button class="btn btn-primary-file dropdown-toggle" type="button" value="File Selection" data-toggle="dropdown" id="fileSelection"><span class="fileChoice">File Selection: </span><span class="caret"></span></button>
                        <div class="dropdown-menu" id="file">
                            <li><a class="dropdown-item" ng-click="passFileName('File1')">File 1</a></li>
                            </br>
                            <li><a class="dropdown-item" ng-click="passFileName('File2')">File 2</a></li>
                        </div>
                    </div>
                </div>
            </th>
            <th class="translation">
                <div class="dropdown">
                    <div class="btn-group">
                        <button class="btn btn-primary-translation dropdown-toggle" type="button" data-toggle="dropdown" id="langSelection"><span class="langChoice">Language Options: </span><span class="caret"></span></button>
                        <div class="dropdown-menu" id="translation">
                            <li><a class="dropdown-item" ng-click="passNewLanguage('German')">German</a></li>
                            </br>
                            <li><a class="dropdown-item" ng-click="passNewLangauge('Spanish')">Spanish</a></li>
                        </div>
                    </div>
                </div>
            </th>
        </thead>
        <tbody>
            <tr>
                <td> Hello In English </td>
                <td><input placeholder="Translation" type="text" class="form-control"></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(function () {
            $("#file li a").click(function () {
                $("#fileSelection .fileChoice").text('Selected File: ' + $(this).text() + " ");
            });
        });

        $(function() {
            $("#translation li a").click(function() {
                $("langSelection .langChoice").text('Selected Language: ' + $(this).text() + " ");
            });
        });
    </script>
</div>